/* .slider-container */
.main-slide {
    border: 2px green;
    width: 100%;
    height: 80%;
}

.main-slide-item img{
    border: 3px solid red;
    width: 100%;
    background-size: cover;
}

.thumbnail-carousel {
    height: 30vh;
    display: flex;
    border: 3px dashed magenta;
    width: 100%;
    overflow: scroll;
}

.thumbnail-item {
    width: calc(100%/8);
    border: 1px solid blue;
}

.thumbnail-item img{
    height: 200px;
    background-size: cover;
    background-position: center center;
}